.create-employee-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="checkbox"] {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.message {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}

.error {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 20px;
}